
.image {
  height: 57px;
  width: 57px;
  .image-icon {
    font-size: x-large;
  }
}

.round-btn {
  height: 40px;
  width: 40px;
  .icon {
    font-size: large;
    color: var(--app-gray);
    top: 6px;
    position: relative;
    left: 10px;
  }
}

.rateing {
  color: var(--app-yellow);
  font-size: 20px;
}

.row-element {
  margin: 0 15px;
  padding: 18px 0px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  gap: 2;
  justify-content: space-between;
}

.label-value {
  color: black;
  font-weight: 450;
}

.card-body {
  width: 19rem;
}

.phone-email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}
