@import "../../../sass/mixins";

.sidenav {
    min-width: 200px;
    width: 160px;
    background-color: var(--background-white);
    overflow: hidden;

    .logo {
        padding: 2px;
        max-width: 100%;
        max-height: 100%;
    }
}

.wrapper {
    overflow: hidden;
    .colapse-button {
        position: fixed;
        z-index: 99;
        left: 11.5rem;
        top: 24rem;
    }
    .sidenav-content {
        color: var(--app-green);
        font-size: 20px;
        cursor: pointer;
        @include bg-hover;
    }
    .chevron {
        color: var(--app-gray);
        background: var(--background-white);
    }
}

#sidebar-nav {
    width: 260px;
}

.main-content {
    max-width: calc(100%);
    flex-grow: 1;
}
