<div class="d-flex flex-row">
<app-side-nav>
    <ng-container list class="d-flex align-items-end flex-column">
        <div *ngFor="let filterForm of filterFormData" class="px-2 py-2 border-bottom">
            <span class="dropdown-title">{{filterForm.name}}</span>
            <select
                [(ngModel)]="filterForm.selected"
                class="form-select form-select-sm border-0 rounded-0 list-group-item"
                aria-label=".form-select-sm">
              <option *ngFor="let option of filterForm.data" [ngValue]="option">{{option}}</option>
            </select>
        </div>
        <div class="d-flex align-items-end flex-column">
          <!-- <div class="flex-grow"></div> -->
          <div class="d-flex flex-row justify-content-around mt-auto p-2">
              <button (click)="cancel()" type="button" class="btn rounded-0 btn-outline-secondary px-4">Cancel</button>
              <button (click)="onSubmit()"type="button" class="btn btn-success btn-l rounded-0 px-4">Submit</button>
          </div>
        </div>
    </ng-container>
</app-side-nav>
  <app-dashboard class="flex-fill" dashboard
    [employees]="filteredEmployees"
    [filterFormTeam]="filterFormData[6]"
    (filterBangaloreEvent)="filterBangalore($event)"
    (teamFilterEvent)="filterTeam($event)">
  </app-dashboard>
</div>
