/* You can add global styles to this file, and also import other style files */
::ng-deep body {
  font-family: 'Roboto', sans-serif;
}

body {
  overflow: hidden;
}

:root {
  --background-main: #F8FCFA;
  --background-white: #FEFEFE;
  --app-gray: #5F6368;
  --app-yellow: #F6AE42;
  --app-green: #57AE85;
  --light-gray: #d5d5d5 ;
  --text-gray: #ACACAC;
  .seperator {
    padding-top: 0.1px;
    background: var(--light-gray);
  }
}
